

@mixin flex-container($font-size:14px,$font-weight:500,$color:#323842, $line-height:22px) {
  display: flex;
  width: 100%;
  height: 22px;
  justify-content: space-between;
  margin-bottom: 10px;
  p {
    color: $color;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height;
  }
}
